@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&family=Unbounded:wght@200..900&display=swap');
body{
    margin: 0;
    font-family: "Unbounded", sans-serif; 
    background-color: black;
}
header{
    height: 123px;
    display: flex;
    align-items: stretch;
    /* padding: 0 20%; */
    justify-content: space-between;
    flex-direction: row;
}
header a{
    margin-right: 90px;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    font-style: re;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header img{
    position: relative;
    left: 7.32421875%;
}
nav :hover{
    color: #FF8A00;
    text-decoration: underline #FF8A00;
}
footer{
    height: 81px;
    display: flex;
    justify-content: flex-start;
    gap: 55px;
    margin: 17px;
    color: white;
    align-items: center;
}
footer p{
    position: absolute;
    left: 87%;
    display: flex;
    align-self: center;
}
main{
    background-color: #373636;
}
main{
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    padding: 125px 0;
    background-color: #373636;
 } 
 .item{
     display: flex;
     padding: 32px 35px;
     border: 10px solid #000000;
     border-radius: 50px;
     width: max-content;
     gap: 54px;
 }
 .item>img{
     border: 7px solid #000000;
     border-radius: 45px;
 }
 .item-info{
     display: flex;
     flex-direction: column;
 }
 .item-info>p{
     font-family: Cuprum, sans-serif;
     font-size: 58px;
     font-style: bold;
     margin: 0;
     color: #ffffff;
     -webkit-text-stroke: 2px #000000;
 }
 .item-links{
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 70px;
 }
 .bolt {
    background: linear-gradient(94.95deg, #33503D 30.71%, #D64C27 98.71%);
}
.days {
    background: linear-gradient(94.95deg, #555555 30.71%, #B6A1A0 98.71%);
}
.russia {
    background: linear-gradient(95.9deg, rgba(132, 52, 28, 0.55) 7.59%, #F7CE8B 98.68%);
}
.plague {
    background: linear-gradient(94.95deg, #555555 30.71%, #90351F 98.71%);
}
.songs {
    background: linear-gradient(94.95deg, rgba(204, 224, 245, 0.55) 30.71%, #525CA5 98.71%);
}
.izh {
    background: linear-gradient(94.95deg, rgba(0, 163, 163, 0.3) 30.71%, #0080BA 98.71%);
}